@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #172033;
  background: #58c7f3;
  font-synthesis: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

button,
input {
  font: inherit;
}

::selection {
  color: #172033;
  background: #ffd447;
}
